.contact-faq-section {
    padding: 80px 0; 
    background-color:#f2ddcc; 
     padding-top: 3rem; 
    padding-bottom: 5rem;
}

.contact-faq-container {
    display: flex;
    max-width: 1500px; 
    margin: 0 auto; 
    padding: 0 20px; 
    gap: 80px; 
}

.contact-column,
.faq-column {
    flex: 1; 
}

.contact-column h2,
.faq-column h2 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 40px;
    color: #000;
    
    display: inline-block;
    border-bottom: 3px solid #000;
    padding-bottom: 5px;
}


.contact-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group label {
    font-weight: 600;
    margin-bottom: 8px;
    color: #000;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #ffffff00; 
    font-size: 16px;
    color: #333;
    resize: vertical; 
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
    color: #aaa; 
}

.contact-form button.button {
    align-self: flex-start; 
    padding: 12px 25px;
    background-color: #000; 
    color: #fff;
    border: none;
    border-radius: 4px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-form button.button:hover {
    background-color: #333; 
}



.faq-list {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.faq-item h4 {
    font-size: 18px;
    font-weight: 700;
    color: #000;
    margin-bottom: 10px;
    position: relative;
    padding-left: 20px; 
}


.faq-item h4::before {
    content: "■"; 
    color: #000;
    font-size: 14px;
    position: absolute;
    left: 0;
    top: 0;
}

.faq-item p {
    font-size: 14px;
    line-height: 1.6;
    color: #555;
}


@media (max-width: 768px) {
    .contact-faq-container {
        flex-direction: column; 
        gap: 40px;
    }
}
