
:root {
    --color-primary-1: #ffffff;
    --color-primary-2: #5b814b;
    --color-primary-3: #4d7fc1b0;
    --color-primary-4: #88b0ca;
    --color-primary-5: #2e5f9e;
    --color-primary-6: #043971;

    --color-neutral-0: #fff;
    --color-neutral-1: #1d1d1d;
}



#freatures {
    text-align: center;
    color: #043971;
    
}


#freatures-sub {
   margin: 0 auto;
   color: #000000;
}

#benefits {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px; 
    text-align: center;
    padding: 70px 180px;
    flex-wrap: wrap; 
   
}

.section-subtitle {
    margin: 0 auto 1rem;
    text-align: center;
}

.benefit {
    width: 200px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.benefit img {
    width: 70px; 
    height: auto;
    margin-bottom: 15px;
    
}

.benefit h3 {
    font-size: 1.1rem; 
    margin-bottom: 10px;
    color: #2e5f9e;
}

.benefit p {
    font-size: 0.9rem; 
    color: #555;
    line-height: 1.5;
}


@media screen and (max-width: 1024px) {
    #benefits {
        gap: 20px;
    }
    
    .benefit {
        width: 300px;
    }
}


@media screen and (max-width: 768px) {
    #benefits {
        flex-direction: column;
        align-items: center;
        gap: 40px;
        padding: 30px 15px;
    }
    
    .benefit {
        width: 100%;
        max-width: 300px;
    }
    
    .benefit img {
        width: 70px;
    }
    
    .benefit h3 {
        font-size: 1.1rem;
    }
    
    .benefit p {
        font-size: 0.9rem;
    }

}