@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --color-primary-1: #ffffff;
    --color-primary-2: #5b814b;
    --color-primary-3: #4d7fc1b0;
    --color-primary-4: #88b0ca;
    --color-primary-5: #b65e1f;
    --color-primary-6: #5d448f;

    --color-neutral-0: #fff;
    --color-neutral-1: #1d1d1d;
}
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 80px;
}

body {
    background-color: var(--color-primary-1);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
  padding: 0;
}


header {
    width: 100%;
    padding: 28px 8%;
    position: relative;
    top: 0;
    background-color: var(--color-primary-1);
    z-index: 10;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.05);
}

#navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav_logo {
    font-size: 24px;
    color: var(--color-primary-6);
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

#nav_logo i {
    font-size: 28px;
}

#nav_list {
    display: flex;
    list-style: none;
    gap: 48px;
}

.nav-item {
    background-color: transparent;
    padding: 8px 16px;
    transition: all 0.3s ease;
}

.nav-item a {
    text-decoration: none;
    color: #1d1d1dad;
    font-weight: 600;
}

.nav-item.active {
    background-color: transparent !important;
}



.btn-default {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-primary-5);
    border-radius: 4px;
    padding: 10px 14px;
    font-weight: 600;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.3s ease;
    gap: 5px;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.btn-default:hover {
    background-color: var(--color-primary-3);
    color: var(--color-neutral-1);
}

#mobile_btn {
    display: none;
}

#mobile_menu {
    display: none;
    gap: 5px;
}


@media screen and (max-width: 1170px) {
    #nav_list,
    #navbar .btn-default {
        display: none;
    }

    #mobile_btn {
        display: block;
        border: none;
        background-color: transparent;
        font-size: 1.5rem;
        cursor: pointer;
        color: var(--color-primary-6);
    }

    #mobile_menu.active {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px 0;
    }

    #mobile_nav_list {
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin: 12px 0px;
    }

    #mobile_nav_list .nav-item {
        list-style: none;
        text-align: center;
    }
}


