:root {
    --color-primary-1: #ffffff;
    --color-primary-2: #5b814b;
    --color-primary-3: #4d7fc1b0;
    --color-primary-4: #88b0ca;
    --color-primary-5: #2e5f9e;
    --color-primary-6: #043971;

    --color-neutral-0: #fff;
    --color-neutral-1: #1d1d1d;
}

#reviews {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 20px;
    background-color: #88b0ca;
}

#reviews .section-subtitle {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 1.5rem;
    color: #ffffff;
}

#review-container {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 24px;
    flex-wrap: wrap; 
}

.review-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px; 
    gap: 18px;
    width: 25%;
    max-width: 280px; 
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1); 
    position: relative;
    overflow: hidden;
    
    transition: transform 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease;
    cursor: pointer;
    border: 2px solid transparent; 
}

.review-card:hover {
    transform: translateY(-5px); 
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.418); 
    border-color: #ffffff; 
}

.review-card img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 50%; 
}

.review-card .review-title {
    font-size: 1.25rem;
    color: #043971;
    margin: 0;
}

.review-card .review-description {
    color: #434343;
    text-align: center;
    font-size: 0.9rem;
    line-height: 1.5;
}


.review_indice i {
    color: #eec73a; 
}


@media screen and (max-width: 1024px) {
    .review-card {
        width: calc(50% - 12px); 
    }
}

@media screen and (max-width: 600px) {
    .review-card {
        width: 100%; 
        max-width: 300px;
    }
}